.birthList {
    display: flex;
    justify-content: left;
    border: 1px solid red;
}
.birthList li{
    margin-left: 10px;
    border: 1px solid red;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.birthList li img {
    width: 100%;
    height: 100%;
}
.Carousel {
    width: 100%;
    height: 100%;
}
.cardFileBox {
    margin: 10px 0;
}
.CardBtn{
    border: none;
    background-color: #FAA332;
    border-radius: 20%;
    padding: 5px 10px;
}
.css-1m9128y {
    position: absolute;
    bottom: 0;
}
.css-hn784z {
    height: 70% !important;
    top: 40px !important;
}
.css-1abc02a {
    height: 70% !important;
    top: 40px !important;
}

.birthboardCon{
    text-align: center;
}